
  <button mat-button mat-dialog-close>X</button>
  <form class="dialog" [formGroup]="ItemForm" (ngSubmit)="update()">

    <mat-form-field  appearance="outline" >
      <mat-label >Quantity:</mat-label>
      <input  matInput type="number" min=1 placeholder="Ex.12" name="quantity" formControlName="quantity">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Size:</mat-label>
      <mat-select formControlName="size" id="size" name="size" required>
        <mat-option  *ngFor="let s of sizes" [value]="s">{{ s }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button >Update</button>




<!--
    <mat-form-field appearance="legacy">
      <mat-label>Quantity: </mat-label>
      <input matInput type="number" min=1 placeholder="Ex.12" name="quantity" formControlName="quantity" />
      <mat-label>Size:</mat-label>
      <mat-select formControlName="size" id="size" name="size" required>
        <mat-option *ngFor="let s of sizes" [value]="s">{{ s }}</mat-option>
      </mat-select>
      <button mat-raised-button >Update</button>
    </mat-form-field> -->
  </form>


